<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--中易-->
		<add name="SqlServerConnection" connectionString="Database=;Data Source=;User Id=;Password=;port=;" providerName="System.Data.SqlClient"/>
		<add name="MySqlConnection" connectionString="Database=;Data Source=;User Id=;Password=;port=;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="tcpport" value="60003"/>
		<add key="udpport" value="60004"/>
		<!--最大连接数-->
		<add key="numConnections" value="1000"/>
		<!--缓存大小(字节)-->
		<add key="receiveBufferSize" value="2000"/>
		<!--超时时间(秒) 0 不校验超时-->
		<add key="overtime" value="300"/>
		<!--是否启动定时任务 1启动-->
		<add key="isTimer" value="1" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
